@use 'styles/colors.scss';

.tech {
  display: grid;
  grid-template-columns: 5fr repeat(5, 2fr);
  grid-column-gap: 2px;
  grid-template-rows: auto;
  align-items: center;

  > span {
    border-top: solid 1rem colors.$background-outer;
    height: 0;
    width: 100%;
    position: relative;

    &.fill {
      border-color: colors.$secondary;
    }

    &::after {
      content: '';
      border-top: solid 1rem colors.$secondary;
      position: absolute;
      left: 0;
      bottom: 0;
    }

    &.expert::after {
      width: 100%;
    }

    &.advanced::after {
      width: 80%;
    }

    &.intermediate::after {
      width: 60%;
    }

    &.novice::after {
      width: 40%;
    }

    &.fa::after {
      width: 20%;
    }
  }
}

.tech ~ i {
  display: block;
  margin-top: 1rem;
}

.experience {
  word-break: break-word;

  > span {
    white-space: nowrap;

    @media screen {
      &.detailed {
        cursor: pointer;
        text-decoration: underline;
        text-decoration-style: dotted;
      }
    }

    &:not(:last-child)::after {
      cursor: default;
      content: '/';
      margin: 0 0.5rem;
      color: colors.$secondary;
      text-decoration: none;
      display: inline-block;
    }
  }
}

.languages {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
