@import './colors/dark.scss';
@import './colors/light.scss';

@media (prefers-color-scheme: dark) {
  @import './colors/dark.scss';
}

$primary: var(--primary);
$secondary: var(--secondary);
$secondary-highlight: var(--secondary-highlight);
$background: var(--background);
$background-outer: var(--background-outer);

$print: black;
