@use 'styles/colors.scss' as colors;
@use 'styles/breakpoints.scss' as breakpoints;
@use 'styles/typography.scss' as typography;

@include typography.global;

html {
  background: colors.$background-outer;
}

body {
  box-sizing: border-box;
  padding: 5rem;
  width: 100rem;
  height: 141.4rem;
  background: colors.$background;
  transition: margin 300ms, background 300ms;
  overflow: overlay;

  @media screen and (min-width: 1080px) {
    margin: 4rem auto;
    box-shadow: 0 0 5rem rgba(0, 0, 0, 0.5);
  }

  @media print {
    padding: 0;
  }

  @include breakpoints.medium {
    width: 100%;
    height: auto;
  }
}
