@use 'styles/colors.scss' as colors;
@use 'styles/typography.scss' as typography;
@use 'styles/breakpoints.scss' as breakpoints;

.header {
  display: grid;
  grid-auto-flow: column;
  grid-template:
    'photo . actions' 2fr
    'photo . actions' 1fr
    'photo . actions' 1fr
    'photo . actions' 1fr / max-content auto min-content;
  gap: 1rem 2rem;
  margin-bottom: 3rem;

  > div {
    @include typography.typography(18, 400);
  }

  img.photo {
    grid-area: photo;
    border: solid 0.75rem colors.$primary;
    border-radius: 0.75rem;
    max-width: 16rem;
  }

  .qr {
    grid-area: actions;
    width: 16rem;
    display: none;
    text-align: center;

    img {
      width: 100%;
    }

    @media print {
      display: block;
    }
  }

  .actions {
    grid-area: actions;
    justify-content: flex-end;

    @media print {
      display: none;
    }

    user-select: none;
    display: flex;
    align-items: flex-start;
    > * {
      text-align: center;
      cursor: pointer;
      font-size: 3rem;
      width: 5rem;
    }
  }

  @include breakpoints.small {
    justify-items: center;
    grid-template:
      'photo' auto
      '.' 2fr
      '.' 1fr
      '.' 1fr
      '.' 1fr
      'actions' 5rem / 100%;
    margin-bottom: 1rem;
  }
}
