@use 'styles/colors.scss' as colors;
@use 'styles/typography.scss' as typography;

.header {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: max-content auto min-content;
  grid-template-rows: 2fr repeat(3, 1fr);
  gap: 1rem 2rem;
  margin-bottom: 3rem;

  > div {
    @include typography.typography(18, 400);
  }

  img.photo {
    border: solid 0.75rem colors.$primary;
    border-radius: 0.75rem;
    max-width: 16rem;
    grid-row-end: span 4;
  }

  .qr {
    grid-row-end: span 4;
    width: 16rem;
    display: none;
    text-align: center;

    img {
      width: 100%;
    }

    @media print {
      display: block;
    }
  }

  .actions {
    @media print {
      display: none;
    }

    user-select: none;
    display: flex;
    align-items: center;
    > * {
      text-align: center;
      cursor: pointer;
      font-size: 3rem;
      width: 5rem;
    }
  }
}
