@use 'styles/colors.scss' as colors;

.header {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: max-content auto min-content;
  grid-template-rows: 3fr repeat(3, 1fr);
  gap: 1rem 2rem;
  margin-bottom: 3rem;

  img.photo {
    border: solid 0.75rem colors.$primary;
    border-radius: 0.75rem;
    max-width: 16rem;
    grid-row-end: span 4;
  }

  .qr {
    grid-row-end: span 4;
    width: 16rem;
    display: none;
    text-align: center;

    img {
      width: 100%;
    }
  }

  h1 {
    font-size: 4rem;
    margin: auto 0;
  }

  div {
    font-size: 1.6rem;
  }
}
