@use 'styles/colors.scss' as colors;
@use 'styles/typography.scss' as typography;

.experience {
  a {
    color: colors.$primary;
  }
  .entry {
    position: relative;
    top: -0.2rem;

    > strong {
      @include typography.size(18);
    }

    > i {
      @include typography.typography(14, 300);
    }

    > div {
      @include typography.size(14);
      margin: 0.3rem 0;
    }
  }
}
